/* will-change */
.hero__section,
.main__header__home,
.gallery__home > * {
	will-change: transform;
}

.wrapper__home {
	background-image: url(../../../assets/images/home-page/bg.jpg);
	/* background-size: 50px; */
	color: #fafafa;
	overflow-x: hidden;

	.header__section__home {
		.photo__image {
			position: absolute;
			width: calc(var(--index) * 36);
			left: 37vw;
			top: 8vh;
		}
		.container__home {
			padding: 0 7vw;
			.main__header__home {
				height: 100vh;
				.main__title__home {
					font-size: calc(var(--index) * 8);
					position: absolute;
					width: min-content;
					bottom: 12vh;
					line-height: 0.7;
				}
			}
		}
	}

	.portfolio__home {
		.container__home {
			.gallery__home {
				display: flex;
				padding: calc(var(--index) * 8) 0;

				.gallery__home__left {
					margin-top: calc(var(--gallery-gap-home) * 1.75);
					/* transform: perspective(800px) rotateY(15deg)
						translateZ(300px) scale(0.55); */
				}
				.gallery__home__right {
					/* transform: perspective(1400px) rotateY(-15deg)
						translateZ(0px) scale(0.8); */
				}
				.gallery__home__right .gallery__item {
					margin-bottom: 0;
					margin-top: var(--gallery-gap-home);
				}
				.text-block {
					color: var(--color-text);
					position: relative;
				}
				.text-block__h {
					font-size: 3rem;
					line-height: 2.4rem;
					color: var(--color-header);
					margin-bottom: 1.5rem;
				}
				.text-block__p {
					font-size: 1.2rem;
					line-height: 1.75;
				}
				.gallery__item {
					max-width: calc(var(--index) * 21);
					margin-bottom: var(--gallery-gap-home);
					max-height: 180vh;
					border-radius: 8px;
				}
			}
			.gallery__home > * {
				flex: 1;
				display: flex;
				align-items: center;
				flex-direction: column;
			}
		}
	}
}
